Package: redis
Version: 5:6.2.1-joom-1
Architecture: all
Maintainer: Chris Lamb <lamby@debian.org>
Installed-Size: 39
Depends: redis-server (<< 5:6.2.1-joom-1.1~), redis-server (>= 5:6.2.1-joom-1)
Section: database
Priority: optional
Homepage: https://redis.io/
Description: Persistent key-value database with network interface (metapackage)
 Redis is a key-value database in a similar vein to memcache but the dataset
 is non-volatile. Redis additionally provides native support for atomically
 manipulating and querying data structures such as lists and sets.
 .
 The dataset is stored entirely in memory and periodically flushed to disk.
 .
 This package installs the main redis-server package.
